{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "targets": {
        "node": "6.9"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}

// {
//     "plugins": [
//     ],
//     "ignore": [
//         "node_modules"
//     ],
//     "presets": [
//         "es2015",
//         "stage-0",
//         "react",
//         "airbnb"
//     ]
// }